.add-movie {
  align-items: center;
  padding: 20px;
  width: 50%;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#title,
#rating {
  width: 100%;
  height: 5vh;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-style: groove;
  border-radius: 10px;
  align-items: center;
  background-color: rgba(2, 2, 2, 0.05);
  text-align: center;
  font-family: var(--heading);
  border-radius: 4px;
  font-weight: 700;
  color: var(--text-h);
  box-shadow: 0px 18px 36px -18px var(--accent-border);
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  margin-top: 5%;
  padding: 5% 5%;
  background-color: var(--accent);
  border: solid px var(--accent-border);
  box-shadow: 0px 18px 36px -18px var(--accent-border);
  border-radius: 10px;
  height: 10px;
  cursor: pointer;
  color: var(--text-h);
  font-family: var(--heading);
  font-weight: 700;
}
button:hover {
  background-color: var(--accent);
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
