.add-movie {
  align-items: center;
  padding: 20px;
  width: 50%;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#title,
#rating {
  width: 100%;
  height: 5vh;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-style: groove;
  border-radius: 10px;
  align-items: center;
  background-color: rgba(2, 2, 2, 0.05);
  text-align: center;
  font-family: var(--heading);
  border-radius: 4px;
  font-weight: 700;
  color: var(--text-h);
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  margin-top: 5%;
  padding: 5% 5%;
  background-color: var(--accent);
  border: var(--accent-border);
  box-shadow: inset 2px -2px 0 var(--accent-shadow);
  border-radius: 10px;
  height: 10px;
  cursor: pointer;
  color: var(--text-h);
  font-family: var(--heading);
  font-weight: 700;
}
