.movie-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.movie-list-item {
  padding: 20px 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-style: groove;
  border-radius: 10px;
  height: 8vh;
  margin: 10px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 18px 36px -18px var(--accent-border);
}
.movie-list-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 10px var(--accent);
}
.movie-content {
  display: flex;
  flex-direction: start;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.movie-images {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  margin-left: auto;
}

.movie-images img {
  width: 10%;
  height: 10%;
  object-fit: contain;
}
.remove-button {
  cursor: pointer;
}
